<div id="container" style="height: 700px; width: 900px; margin: 0 auto"></div>

<script type="text/javascript">
  $(function () {
    $('#container').highcharts({

        chart: {
            type: 'bubble',
            zoomType: 'xy',
            showAxes: true
        },
        plotOptions: {
          bubble: {
            dashStyle: 'ShortDash',
            minSize: '2',
            maxSize: '10%'
          }
        },
        title: {
            text: 'Task Creation Punchcard'
        },
        xAxis: {
            categories: [ '0 am', '1 am', '2 am', '3 pm', '4 am',
                          '5 am', '6 am', '7 am', '8 pm', '9 am',
                          '10 am', '11 am', '12 am', '1 pm', '2 pm',
                          '3 pm', '4 pm', '5 pm', '6 pm', '7 pm',
                          '8 pm', '9 pm', '10 pm', '11 pm' ]
        },
        yAxis: {
            categories: ['' ,'Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', '']
        },
        series: [{
            data: <%= @data.to_json.html_safe %>,
            name: 'Redbooth task creation'
        }]

    });

  });
</script>


<%#= @data.to_json.html_safe %>
